article {
	display: flex;
	flex-direction: column;
	margin: 3em 0;
}

p {
	text-indent: 3em;
	margin: 0.5em 0;
}

article img {
	box-shadow: 1px 5px 10px var(--shade-1);
}

@media (min-width: 769px) {
	.what-we-do {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 1em;
	}

	.what-we-do .filler {
		background: var(--shade-2);
		grid-column: 2;
		grid-row: 3;
	}
}

.what-we-do * {
	grid-column: 1/-1;
	margin: 0;
}

.what-we-do p {
	margin-top: 1em;
}

.what-we-do img {
	align-self: center;
	grid-column: 2/-1;
	grid-row: 2/4;
	margin: 1em 0 -2em 1em;
	z-index: 99;
}

.what-we-do blockquote {
	background: var(--shade-2);
	grid-column: 1;
	grid-row: 3;
	font-family: Gayathri;
	font-size: 1.2em;
	font-style: italic;
	padding: 3em 1em 1em;
	text-align: center;
}

@media (min-width: 769px) {
	.what-we-do img {
		align-self: unset;
		margin: 0 1em 0 0;
	}

	.what-we-do blockquote {
		padding: 1em;
	}

	.what-we-do p {
		margin-top: 0;
	}
}

.what-we-do p:first-of-type {
	grid-column: 1;
	padding-right: 1em;
}

.history figure {
	padding: 3em 3em 0;
}

.history figcaption {
	font-style: italic;
	text-align: center;
	margin-bottom: 1em;
}

.history img {
	width: 100%;
	height: auto;
}

.mission video {
	align-self: center;
	margin-top: 3em;
}

.mission-statement {
	padding: 3em;
	text-align: center;
	text-indent: 0;
}

.mission-statement span {
	background: var(--primary-color);
	color: var(--text-color-on-primary);
	font-family: Gayathri;
	font-size: 1.8em;
	padding: 0.25em;
}
