<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles/defaults.css" />
		<link rel="stylesheet" href="../styles/about.css" />
		<title>Sobre Nós</title>
	</head>

	<body>
		<address class="user-bubble">
			<p>Charlie Doe</p>
			<img src="../assets/usericon.svg" alt="Perfil do usuário" />
		</address>
		<header>
			<a class="logo" href="../index.html"
				><img
					class="logo"
					src="../assets/logo.png"
					width="100"
					height="100"
					alt="Serpente envolta numa pipeta que adentra um tubo de ensaio"
			/></a>
			<h1>Sobre a LevidebadLab</h1>
		</header>
		<nav>
			<ul>
				<li class="dropdown">
					<a href="../index.html">Início</a>
				</li>
				<li class="dropdown">
					<span class="dropbtn">Exames</span>
					<ul class="dropdown-content">
						<li>
							<a href="exames-oferecidos.html"
								>Exames oferecidos</a
							>
						</li>
						<li>
							<a href="agendamentoExames.html"
								>Fazer agendamento</a
							>
						</li>
						<li>
							<a href="consultaAndamento.html"
								>Consultar resultados</a
							>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="./about.html">Sobre Nós</a>
				</li>
			</ul>
		</nav>
		<main>
			<article class="mission">
				<h2>Nossa missão</h2>
				<video autoplay muted loop width="500">
					<source src="./../assets/lab_woman.mp4" type="video/mp4" />
				</video>
				<p class="mission-statement">
					<span>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Deleniti, enim libero iure recusandae illum officiis.
					</span>
				</p>
			</article>
			<article class="what-we-do">
				<h2>O que nós fazemos?</h2>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit.
					Earum sapiente ab aut numquam molestiae unde obcaecati optio
					pariatur aliquam neque! Voluptatum eaque nam maiores fuga
					aspernatur, necessitatibus ullam iusto distinctio. Illum
					modi iusto facere harum assumenda? Fugit accusamus modi
					consequatur odit non, quae quasi? Nam doloremque, at nostrum
					rerum quod maiores doloribus officiis nemo dolores officia,
					soluta quo id pariatur error cupiditate aut facilis
					voluptates velit eligendi magni possimus dolore similique?
				</p>
				<img
					src="./../assets/stock_lab.jpg"
					width="320"
					height="448"
					alt="Mãos de pessoa com jaleco segurando um modelo de moléculas de DNA"
				/>
				<blockquote>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Nam, tempore?
				</blockquote>
				<div class="filler"></div>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Fugiat odit eveniet, sint quaerat enim labore asperiores
					expedita magnam inventore architecto cupiditate. Fugiat,
					voluptate quisquam neque quis earum repellendus, sed quasi
					enim cupiditate expedita esse quaerat inventore aspernatur
					dolor tempore officiis hic! Assumenda a commodi voluptatem
					ipsa expedita quo eos dolores?
				</p>
			</article>
			<article class="history">
				<h2>Nossa história</h2>
				<figure>
					<img
						src="./../assets/shed.jpg"
						width="640"
						height="426"
						alt="Galpão amarelo com telhado azul em clareira"
					/>
					<figcaption>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</figcaption>
				</figure>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Aspernatur quidem quia nostrum hic sunt velit aperiam,
					recusandae dolorem qui magni possimus placeat facere dolore
					veritatis corporis sequi et cum reiciendis?
				</p>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit.
					Dignissimos iure delectus sequi cupiditate labore eos at id,
					ut saepe architecto facilis nihil modi obcaecati quas
					tempore eaque quae consequatur dolorem?
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					Cupiditate pariatur delectus ipsa illum provident officiis,
					cum placeat, consequatur expedita omnis libero modi ipsam,
					fugit rerum dolore debitis reiciendis recusandae nostrum.
					Libero at beatae fugiat similique corrupti est quo error,
					assumenda, ipsum quam adipisci unde in quibusdam nesciunt
					ullam explicabo labore dolorem natus porro laborum veritatis
					corporis delectus! Magni, recusandae doloremque!
				</p>
			</article>
		</main>
		<footer>
			<p>
				💖 Agradecemos a <a href="https://www.pexels.com">Pexel</a> e
				aos seguintes artistas pelas mídias, em ordem de utilização:
			</p>
			<ul>
				<li>
					<a href="https://www.pexels.com/@edward-jenner">
						Edward Jenner</a
					>
				</li>
				<li>
					<a href="https://www.pexels.com/@rethaferguson"
						>RF._.studio
					</a>
				</li>
				<li>
					<a href="https://www.pexels.com/@elina-sazonova"
						>Elina Sazonova</a
					>
				</li>
			</ul>
			<p class="copyright">&copy; 2020 LevidebadLab Inc.</p>
			<ul>
				<li>Adolfo</li>
				<li>Débora</li>
				<li>Leonardo</li>
				<li>Vinícius</li>
			</ul>
		</footer>
	</body>
</html>
