<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sobre Nós</title>
	</head>
	<body>
		<header>
			<h1>Sobre a LevidebadLab</h1>
		</header>
		<main>
			<article>
				<h2>O que nós fazemos?</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Iste deleniti facere rerum temporibus excepturi
					exercitationem accusamus ipsam id dolore fugit?
				</p>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Repudiandae impedit autem fuga eos, adipisci praesentium!
				</p>
				<img
					src="./../assets/stock_lab.jpg"
					width="320"
					height="448"
					alt="Mãos de pessoa com jaleco segurando um modelo de moléculas de DNA"
				/>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Minima cupiditate recusandae aspernatur delectus nemo
					praesentium commodi sunt assumenda perspiciatis dolorem
					ipsum aut vel, hic fugiat! Id asperiores, officiis eveniet
					molestias quos itaque debitis, cupiditate totam odio
					excepturi, alias eos quia commodi earum nesciunt. Assumenda,
					in quam quis inventore repellendus sit?
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Iusto totam libero excepturi dignissimos! Natus eos quos
					recusandae sunt labore, itaque incidunt rerum nulla quo
					odio?
				</p>
			</article>
			<article>
				<h2>Nossa história</h2>
				<figure>
					<img
						src="./../assets/shed.jpg"
						width="640"
						height="426"
						alt="Mãos de pessoa com jaleco segurando um modelo de moléculas de DNA"
					/>
					<figcaption>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</figcaption>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Aspernatur quidem quia nostrum hic sunt velit aperiam,
						recusandae dolorem qui magni possimus placeat facere
						dolore veritatis corporis sequi et cum reiciendis?
					</p>
					<p>
						Lorem ipsum dolor, sit amet consectetur adipisicing
						elit. Dignissimos iure delectus sequi cupiditate labore
						eos at id, ut saepe architecto facilis nihil modi
						obcaecati quas tempore eaque quae consequatur dolorem?
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing
						elit. Cupiditate pariatur delectus ipsa illum provident
						officiis, cum placeat, consequatur expedita omnis libero
						modi ipsam, fugit rerum dolore debitis reiciendis
						recusandae nostrum. Libero at beatae fugiat similique
						corrupti est quo error, assumenda, ipsum quam adipisci
						unde in quibusdam nesciunt ullam explicabo labore
						dolorem natus porro laborum veritatis corporis delectus!
						Magni, recusandae doloremque!
					</p>
				</figure>
			</article>
			<article>
				<h2>Nossa missão</h2>
				<video autoplay muted loop width="500" controls>
					<source src="./../assets/lab_woman.mp4" type="video/mp4" />
				</video>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Deleniti, enim libero iure recusandae illum officiis.
				</p>
			</article>
		</main>
		<footer>
			<p>
				💖 Agradecemos a <a href="https://www.pexels.com">Pexel</a> e
				aos seguintes artistas pelas mídias, em ordem de utilização:
			</p>
			<ul>
				<li>
					<a href="https://www.pexels.com/@rethaferguson"
						>RF._.studio
					</a>
				</li>
				<li>
					<a href="https://www.pexels.com/@elina-sazonova"
						>Elina Sazonova</a
					>
				</li>
				<li>
					<a href="https://www.pexels.com/@edward-jenner">
						Edward Jenner</a
					>
				</li>
			</ul>
		</footer>
	</body>
</html>
