<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles/defaults.css" />
		<link rel="stylesheet" href="../styles/consulta-andamento.css" />
		<title>Consulta de Andamento</title>
	</head>

	<body>
		<address class="user-bubble">
			<p>Charlie Doe</p>
			<img src="../assets/usericon.svg" alt="Perfil do usuário" />
		</address>
		<header>
			<a class="logo" href="../index.html">
				<img
					class="logo"
					src="../assets/logo.png"
					width="100"
					height="100"
					alt="Serpente envolta numa pipeta que adentra um tubo de ensaio"
				/>
			</a>
			<h1 class="title">Consulta de Andamento</h1>
		</header>
		<nav>
			<ul>
				<li class="dropdown">
					<a href="../index.html">Início</a>
				</li>
				<li class="dropdown">
					<span class="dropbtn">Exames</span>
					<ul class="dropdown-content">
						<li>
							<a href="exames-oferecidos.html"
								>Exames oferecidos</a
							>
						</li>
						<li>
							<a href="agendamentoExames.html"
								>Fazer agendamento</a
							>
						</li>
						<li>
							<a href="consultaAndamento.html"
								>Consultar resultados</a
							>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="./about.html">Sobre Nós</a>
				</li>
			</ul>
		</nav>
		<main>
			<br />
			<section class="container">
				<article>
					<h2>Procedimentos</h2>
				</article>
				<table>
					<tr class="title">
						<td width="15%">Nome</td>
						<td width="20%">Email</td>
						<td width="15%">Telefone</td>
						<td width="25%">Procedimento</td>
						<td width="15%">Status do Procedimento</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</section>
		</main>
		<footer>
			<p class="copyright">&copy; 2020 LevidebadLab Inc.</p>
			<ul>
				<li>Adolfo</li>
				<li>Débora</li>
				<li>Leonardo</li>
				<li>Vinícius</li>
			</ul>
		</footer>
	</body>
</html>
