<!DOCTYPE html>
<html lang="pt">

</html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/exames-oferecidos.css" />
    <title>Exames</title>
</head>

<body>
    <header>
        <h1 class="title">Exames Realizados Pelo LevidebadLab</h1>
    </header>
    <main>
        <section class="menu">
            <nav class="dropdown">
                <section class="dropbtn">Menu 1</button>
                <div class="dropdown-content">
                  <a href="./about.html">Sobre Nós</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </section>
              </nav>
              <nav class="dropdown">
                <section class="dropbtn">Menu 2</button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </section>
              </nav>
              <nav class="dropdown">
                <section class="dropbtn">Menu 3</button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </section>
              </nav>
       </section>
        </br>
        <section class="container">
            <section class="card">
                <p>Hemograma Completo</p>
                <p>
                    Hemograma é um exame que avalia as células sanguíneas de um
                    paciente, ou seja, as da série branca e vermelha, contagem de
                    plaquetas, reticulócitos e índices hematológicos.
                </p>
                <p>Prazo médio até 48 horas</p>
                <p>Preço: R$ 1,77</p>
            </section>
            <section class="card">
                <p>Parcial de Urina</p>
                <p>
                    O exame de urina é o teste que analisa características físicas, 
                    químicas e microscópicas desse fluido corporal. 
                    Ele serve tanto para verificar a saúde do sistema 
                    urinário quanto para investigar diversos tipos de alteração no organismo.
                </p>
                <p>Prazo médio até 48 horas</p>
                <p>Preço: R$ 3,50</p>
            </section>
            <section class="card">
                <p>Glicemia em Jejum</p>
                <p>
                    O exame de glicemia em jejum serve para medir o nível da glicose na circulação sanguínea do paciente.
                     É necessário estar de 8 a 12 horas de jejum, sem consumir nenhum tipo de alimento ou bebidas,
                     apenas água é permitido. 
                    O exame é utilizado para investigar possíveis casos de diabetes e para controle da doença.
                </p>
                <p>Prazo médio até 48 horas</p>
                <p>Preço: R$ 0,68</p>
            </section>
        </section>
    </main>
    <footer>
        <p>LevidebadLab</p>
    </footer>
</body>

</html>